/* Custom Stylesheet */

/* Fonts */
@font-face { 
    font-family: 'Calibre'; 
    font-weight: 700;
    src: url('../fonts/Calibre Test/calibre-test-bold.woff'); 
}
@font-face {
    font-family: 'Calibre'; 
    font-weight: 400;
    src: url('../fonts/Calibre Test/calibre-test-light.woff'); 
}

body {
    color: $black;
    font-family: 'Calibre', cursive;
    font-size: $body_font_size; // 1.25rem
    line-height: $body_line_height; // 1.625rem
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Calibre', cursive;
    font-weight: 700;
}
h1 {
    font-size: 50px;
}

h3 {
    font-size: 2.5rem;
}

.hero {
    border: 1px solid red;
}

/* Globals */
body { // for specificity
    .text-base {
        font-size: 1rem;
    }
    .text-small {
        font-size: $text_sm;
    }
    // colors
    .text-yellow {
        color: $yellow;
    }

}




/* Homepage hero */
.home #wrapper-hero {
    height: 100vh;
    padding: 50px 50px 100px 50px !important; // bootstrap override
    
    @media screen and (max-width: $screen-xxl) {
        padding-bottom: 70px !important;
    }
    
    .inner-hero {
        background: $yellow;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    // Nav menu widget in hero
    ul#menu-hero-nav-menu {
        list-style-type: none;
        display: flex;
        padding-left: 0;

        .menu-item {
            font-family: 'Founders', sans-serif;
            font-size: $text_sm;
            letter-spacing: 2px;
            margin-right: 30px;
            text-transform: uppercase;

            a {
                color: $black;
                font-weight: 600;
            }
        }
    }

    // textwidget
    .textwidget {
        margin-bottom: 80px;

        h1 {
            margin-bottom: 40px;
        }
    }
}

/* Homepage Sliders */
.about-slider {
    padding: 0;

    .slick-list {
        padding: 45px 0 30px 0;
    }
    .slick-track {
        border: 1px solid $yellow;
    }
    button.slick-prev,
    button.slick-next {
        background: transparent;
        position: absolute;
        top: -35px;
        left: 0;
        border: 1px solid $yellow;
        border-bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80px;
        width: 80px;

        &:active,
        &:focus {
            outline: none;
        }

        i {
            font-size: 2rem;
        }
    }
    button.slick-next {
        left: 80px;
        border-left: 0;
    }

    ul.slick-dots  {
        color: $gray;
        display: flex;
        align-items: center;
        height: 80px;
        list-style-type: none;
        font-size: $text_sm;
        padding: 0;
        position: absolute; 
        left: 189px;
        top: -35px;

        li {
            display: none;

            &.slick-active {
                display: block;
            }
        }
    }

    .about-slider__slide {
        display: flex;
        align-items: center;
        min-height: 505px;
        padding: 73px 60px;
    }

    .about-slider__slide-image {
        position: absolute;
        top: -45px;
        right: 0;
        object-fit: contain;
        height: 560px;
        width: 700px;
        z-index: 9;
    }

    .about-slider__slide-text {
        max-width: 300px;
    }
   
}
